/*Variables*/

$font-logo: "Dancing Script", cursive; //replacement for wisdom script from google fonts
$font-main: "Montserrat", sans-serif; //google fonts
$font-regular: "Roboto Slab", serif; //google fonts
$font-emphasis: "Droid Serif", italic; //adobe fonts

$color-one: rgb(238, 209, 74);
$color-two: rgb(251, 251, 251);
$color-three: #000;
$color-four: #f7f7f7;
$color-five: #fff;
$color-six: #737373;

/*Global*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-size: 14px;
	line-height: 1.7;
	font-family: $font-regular;
}

section {
	padding: 120px 0;
}

h1,
h2 {
	color: $color-two;
}

h1 {
	margin-bottom: 0;
	font-size: 40px;
	text-transform: uppercase;
	font-family: $font-main;
	text-align: center;
}

.container {
	max-width: 1140px;
	margin: 0 auto;

	h1 {
		font-size: 48px;
		margin-bottom: 0;
	}
}

.row {
	justify-content: space-around;
}

.section-title {
	color: $color-three;
}

h3 {
	font-family: $font-emphasis;
	font-size: 16px;
	font-weight: normal;
	color: $color-six;
	margin-top: 0;
	text-align: center;
	margin-bottom: 5%;
	margin-top: -0.7%;
}

.btn {
	min-width: 130px;
	min-height: 65px;
	padding: 25px 50px 26px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $font-main;
	font-size: 18px;
	color: $color-two;
	cursor: pointer;
	background-color: $color-one;
	border: none;
	border-radius: 5px;
	margin: 10px auto;
}

/*Navigation*/

nav {
	padding: 0;

	.row {
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: absolute;
		top: 5vmax;
		right: 6vmax;
		z-index: 1;

		li {
			display: inline-block;
			margin: 0 40px 0 0;
			position: relative;
			flex-flow: row nowrap;
			justify-content: flex-end;
		}

		a {
			font-size: 1em;
			text-transform: uppercase;
			text-decoration: none;
			color: $color-two;
			transition: color 0.2s;

			&:hover {
				color: $color-one;
			}
		}
	}
}

/*  Splash  */

.logo {
	position: absolute;
	top: 4vw;
	left: 15vw;
	margin: 0;
	font-size: 26px;
	font-family: $font-logo;
	text-transform: capitalize;
	color: $color-one;
}

.splash {
	background-image: url(https://i.postimg.cc/B6MHbDf9/splash-image.jpg);
	background-size: cover;
	min-height: 930px;

	.transparent {
		display: block;
		width: 100%;
		height: 930px;
		background-color: $color-three;
		opacity: 0.5;
	}
}

.splash-inner {
	margin: 5% auto;
	max-width: 100%;
	flex-direction: column;
	align-content: center;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
}

.page-title {
	margin: 0;
	font-size: 4.6vmax;
	word-spacing: 0;
	font-weight: bold;
	line-height: 1.2;
	font-family: $font-main;
	text-align: center;
	text-transform: uppercase;
}

.page-subtitle {
	margin-top: 10vw;
	font-size: 2.5vmax;
	font-family: $font-emphasis;
	font-weight: normal;
	text-align: center;
	text-transform: capitalize;
}

/*our-services*/

.box-our-services {
	padding: 0;
	display: flex;
	flex-direction: column;
	padding-right: 10px;

	i {
		font-size: 35px;
		text-align: center;
		height: 70px;
		width: 70px;
		line-height: 70px;
		margin: 0 auto;
		// margin-bottom: 20px;
		border: 2px solid;
		border-radius: 50%;
		color: $color-one;
	}

	h1 {
		color: $color-three;
		font-size: 1.3em;
	}

	p {
		text-align: center;
		color: $color-six;
		margin-top: 0;
	}
}

/*portfolio*/

.portfolio {
	background-color: $color-four;

	.box-portfolio {
		background-color: $color-five;
		padding: 0;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin-right: 1%;
		margin-bottom: 8%;

		.image-text {
			text-align: center;

			h4 {
				font-family: $font-main;
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 0;
			}

			p {
				font-family: $font-emphasis;
				font-size: 16px;
				color: $color-six;
				margin-top: 0;
			}
		}

		.image {
			height: 300px;
			// width: 290px;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}

/*footer*/

footer {
	display: flex;
	margin: 48px 15%;
	text-align: center;
	padding: 5px;
	justify-content: flex-start;

	.row {
		width: 100%;
		justify-content: center;
	}

	.social-media {
		position: relative;
		transform: translateX(-25%);

		ul {
			margin: 0 auto;
			padding: 0;
		}

		li {
			list-style-type: none;
			display: inline;
			padding-right: 5px;
			padding-left: 5px;
		}

		i {
			color: $color-two;
			background-color: $color-three;
			font-size: 18px;
			height: 40px;
			width: 40px;
			line-height: 40px;
			margin: 0 auto;
			padding: 0;
			border-radius: 50%;
		}
	}
}

.copyright {
	position: relative;
	left: -50%;
	transform: translateX(50%);

	p {
		font-family: $font-main;
		font-size: 14px;
		margin: auto;
		padding: 0;
	}
}
